#note-adder {
  margin: 0;
  min-height: 50vh;
}

#text {
  display: block;
  resize: none;
}

#create {
  display: block;
}

#note-list {
  flex: none;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 540px;
  margin: auto;
}